<!-- COPY HEADER HERE -->
<div class="">
    <a href="/sessions/new">Client Login</a>
</div>
<div class="">
    <a href="/projects">Case Studies</a><a href="/about">About Us</a><a href="/">Home</a><a href="/quotes/new">Request Quote</a><a href="/methods">Methods</a>
</div>
<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="first-slide" src="/assets/3.jpg" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Company</h1>
                    <p>Info about the Company.
                    </p>
                </div>
            </div>

        </div>
        <div class="item">
            <img class="second-slide" src="/assets/1.jpg" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>More content.</h1>
                    <p> content...
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="third-slide" src="/assets/2.jpg" alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>More...</h1>
                    <p>more.....</p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- /.carousel -->
<div class="about_us_box">
    <h3><strong>About Us</strong></h3>

    <p>Albion Environmental (A.E.) is a testing laboratory and consulting firm located in College Station, Texas. Specializing in solving Clean Water Act monitoring and compliance problems through the use of clean metals chemistry,  A.E. is the most experienced low-level metals and mercury (Hg) laboratory in EPA Region 6, and one of the most experienced clean metals and Hg labs in the United States.  A.E. has been making low-level metals and Hg measurements at levels now required by the new TCEQ Minimum Analytical Levels (MAL’s) for more than <em>30 years.</em></p>

    <p>Led by Senior Scientist Dr. Paul Boothe, he received his Ph.D. degree from Stanford University and has been involved in the development and application of clean techniques since their inception within the academic oceanographic community in the early 1970’s.  Dr. Boothe helped the EPA “write the book” on clean metals and mercury methods and continues to work with the U.S. EPA Office of Water in the implementation of the 1600 series clean methods.  He has participated in most clean method validation studies and is acknowledged by name as a contributor to several of the EPA 1600 clean metals methods including the current revision of EPA Method 1631 (revision E) and method 1638 (ICP-MS). He is a national expert on the application of clean metals techniques to water quality and environmental monitoring and has spoken widely on the subject at national, regional and State EPA and WEF conferences. He has more than 30 years experience in using this measurement technology to accurately determine aqueous trace metals and Hg at the microgram to femtogram per liter range in matrices ranging from freshwater and wastewater to seawater and hypersaline brines.</p>

    <p> Since 1993, Albion Environmental has conducted more than 2,000 studies applying clean metals techniques to NPDES regulated discharges and receiving waters at a wide variety of both industrial and municipal water and wastewater treatment facilities throughout the U.S.  A.E. has used the new EPA 1631 ultra-clean mercury (Hg) method in more than 1,500 studies to measure Hg in water and wastewater at the low to sub-part per trillion levels. Additionally, we provide clean sampling equipment, clean analyses and consulting support on a continuing basis to the U.S. EPA Office of Water for national rulemaking data gathering efforts.</p>

    <p>Experience counts. Ready to have a conversation on how we can help? Send us a detailed message through our <a href="/quotes/new">contact page.</a></p>

    <h4>We look forward to working with you!</h4>
</div>


<!-- COPY FOOTER HERE -->
