<!-- HEADER -->
<div class="">
    <a href="/sessions/new">Client Login</a>
</div>
<div class="">
    <a href="/projects">Case Studies</a><a href="/about">About Us</a><a href="/">Home</a><a href="/quotes/new">Request Quote</a><a href="/methods">Methods</a>
</div>
<!-- END HEADER -->
<h2>Albion Environmental Mercury Testing Services</h2>
<img src="" alt="feel-good-environmental-image.jpg">
<h4><span>Center - Specializing in Low Level Mercury Sampling, Testing, and Analysis since 2007. - Center</span></h4>
<p><span>With expert analysis and a commitment to quality, Albion Environmental is a leader in providing turn-key water and wastewater mercury testing solutions.</span><p>

<fieldset>
    <legend>Experience Counts</legend>
    <p>When dealing with environmental regulations, experience counts. With over 30 years in the field, Dr. Paul Boothe is a pioneer in low level Mercury analysis. That's why the EPA retained his help to write EPA Method 1631e, the preferred method for reliably reading metals in the Parts Per Trillion range. By choosing Albion Environmental, you can save time, money, and avoid costly mistakes that could lead to repeat sampling or the inclusion of limits in your NPDES permit.</p>
</fieldset>
<br>
<fieldset>
    <legend>On Site. On Time.</legend>
    <p>We understand your time is a valuable commodity. That's why we offer consultation services, quick turn-around times, complete sampling packages, a-la-carte supplies, and for a nominal fee, Albion Environmental can be there on-site to provide you with hands-on expert instruction for your most sensitive sampling applications.</p>
</fieldset>
<fieldset>
    <legend>Packaged Solutions</legend>
    <p>Our turn-key sampling packages can include everything you need to meet the current low-level MQL's:<p>
        <!--wrote in this simple in-line styling, but needs to be in actual CSS file-->
        <div id="container" style="width: 970px; margin: 0px auto;">

            <div id="left box" style="width: 470px; display: inline-block;">
                <ul>
                    <li style="margin: 5px;">Coolers for transport</li>
                    <li style="margin: 5px;">Certified ultra-low level D.I. water for blanks</li>
                    <li style="margin: 5px;">Method approved glass bottles</li>

                </ul>
            </div>
            <div id="right box" style="width: 470px; display: inline-block; ">
                <ul>
                    <li style="margin: 5px;">Double sealed packaging</li>
                    <li style="margin: 5px;">Contamination prevention supplies</li>
                    <li style="margin: 5px;">Detailed Instructions</li>
                </ul>
            </div>
            <ul style="margin-left: 250px;">
                <li>Sampling Plan Consultation</li>
            </ul>
        </div>

<h4>We know implementing EPA Methods 1631e and 1669 can be daunting. Albion Environmental can help. <a href="/quotes/new">Contact us</a> today and let us show you how.</h4>

<p>(Not Affiliated with Albion Environmental California)</p>
<!-- FOOTER -->
<div class="">
<a href="/quotes/new">Request Quote</a>
<a href="/sessions/new">Client Login</a>
</div>
<!-- END FOOTER -->
