<!-- COPY HEADER HERE -->

<div id="wrapper">
    <!--Added simple in-line styling here. Needs to be moved to css and/or bootstrapped.-->
    <div class="side_bar" style="vertical-align: text-top; height: 500px; width: 250px; display: inline-block; border: 1px solid black; padding-left: 10px;">

        <h3>Partner Cities and Agencies:</h3>
        <p>City of Bryan<p>
        <p>City of San antonio</p>
        <p>Trinity River Authority</p>
        <p>North Texas Municipal Water District</p>
        <p>City of Denton</p>
        <p>City of Austin</p>
        <p>City of Houston</p>
        <p>Brazos River Authority</p>
    </div>

    <div class="right_wrapper" style="vertical-align: text-top; width: 600px; display: inline-block; padding-left: 10px;">
        <div class="Client">
            <h3>Trinity River Authority - Central WWTP </h3>
            <p>A 180 mgd WWTP located in Dallas-Fort Worth. Successfully implemented a sampling plan program based on EPA Method 1631e to accurately track removal efficiences and assess effluent impact on receiving stream.
        </div>
        <div class="Client">
            <h3>Trinity River Authority - Denton Creek WWTP</h3>
            <p>A 1.5 mgd WWTP located in Roanoke, Texas. Successful implementation of EPA Methods 1631e and 1669 during required technially based local limits reassessment realized a 300% increase in the available local limits for the surrounding cities and industries.
        </div>
        <!--Awaiting further details from Dr. Boothe-->
    </div>
</div>



<!-- COPY FOOTER HERE -->
